@media screen and (max-width:768px) {
    .container {
        width: 768px;
    }

    img {
        max-height: 200px;
    }
}

    @media screen and (max-width:480px) {
        .container {
            width: 480px;
            margin: 0 auto;
            padding: 0 2rem;
        }

        .row {
            flex-wrap: wrap;
        }

        .lessons .col,
        .steps .col,
        .why-us .col-right,
        .why-us .col-left {
            width: 100%;
        }

        .lessons .col img {
            height: 200px;
            margin-bottom: 1rem;
        }

        .col {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        .card {
            padding: 2rem 0;
        }

        .steps .col {
            width: 100%;
        }

        img {
            margin-bottom: 3.5rem;
        }

        .why-us li {
            margin-bottom: 3.5rem;
        }

        .text,
        li p {
            line-height: 1.5rem;
        }
    }